@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.b {
  background-color: 2px solid red;
}

.interHeader {
  @apply text-4xl font-semibold tracking-tight;
}

.interSubheader {
  @apply text-2xl font-semibold tracking-tight;
}

.interBody {
  @apply text-lg font-semibold;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-username {
  font-size: 10px;
}

.timestamp {
  text-align: right;
  font-size: 8px;
}

.main-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#messages {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

form {
  flex: 0 0 auto;
}